<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Albumilistaus</title>

</head>
<body>
	<div class="container">
	
	<div class="d-flex">
		<h1 class="mt-4 p-2 flex-grow-1">Album List - [[${#httpServletRequest.remoteUser}]]</h1>
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" class="mt-4 btn btn-danger p-2 flex-shrink-1">
		</form>
		</div>
		
		<table class="table table-striped mt-4">
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Year</th>
					<th>Genre</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="albums: ${albums}">
					<td th:text="${albums.name}"></td>
					<td th:text="${albums.artist}"></td>
					<td th:text="${albums.year}"></td>
					<td th:text="${albums.genre.name}"></td>
					<td sec:authorize="hasAuthority('ADMIN')">
					<a th:href=@{/edit/{id}(id=${albums.id})}
					class="btn btn-primary"
					>Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')">
					<a th:href=@{/delete/{id}(id=${albums.id})}
					class ="btn btn-danger"
					>Delete</a></td>
				</tr>
			</tbody>
		</table>
		
		<a th:href="@{/add}" class="btn btn-success">Add a new album</a>
		
	
	
	</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>